<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>HttpsForceFilter</filter-name>
    <filter-class>org.tloss.share4win.HttpsForceFilter</filter-class>
    <init-param>
      <param-name>https-server</param-name>
      <param-value>share-4win.rhcloud.com</param-value>
    </init-param>
    <init-param>
      <param-name>https-port</param-name>
      <param-value>443</param-value>
    </init-param>
    <init-param>
      <param-name>exclude-url</param-name>
      <param-value>/service/active/phone</param-value>
    </init-param>
    <init-param>
      <param-name>jdbc-driver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>jdbc-url</param-name>
      <param-value>jdbc:mysql://579fba0989f5cfa17b0000ec-4win.rhcloud.com:44591/share</param-value>
    </init-param>
    <init-param>
      <param-name>jdbc-user</param-name>
      <param-value>adminCfleqRA</param-value>
    </init-param>
    <init-param>
      <param-name>jdbc-password</param-name>
      <param-value>cchIS-zJz8SI</param-value>
    </init-param>
    <init-param>
      <param-name>mail-user</param-name>
      <param-value>share4win2016@gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>mail-password</param-name>
      <param-value>m712@11M74119</param-value>
    </init-param>
    <init-param>
      <param-name>mail-from</param-name>
      <param-value>share4win2016@gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>authen-admin</param-name>
      <param-value>tungt84@gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>authen-protected-url</param-name>
      <param-value>/user/.*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>HttpsForceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>1831480983674572730.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>org.tloss.share4win.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.tloss.share4win.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/public/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPasswordServlet</display-name>
    <servlet-name>SetPasswordServlet</servlet-name>
    <servlet-class>org.tloss.share4win.servlet.SetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPasswordServlet</servlet-name>
    <url-pattern>/public/setpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivePhoneServlet</display-name>
    <servlet-name>ActivePhoneServlet</servlet-name>
    <servlet-class>org.tloss.share4win.servlet.ActivePhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivePhoneServlet</servlet-name>
    <url-pattern>/service/active/phone</url-pattern>
    <url-pattern>/user/active/phone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.tloss.share4win.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.tloss.share4win.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/public/login</url-pattern>
    <url-pattern>/service/user/login</url-pattern>
  </servlet-mapping>
</web-app>